*{
    padding: 0;
    margin: 0;
}
.cabecalho{
    background-color: darkkhaki;
    color: crimson;
    text-align: center;
}

.cabecalho-titulo{
    text-transform: uppercase;
    text-decoration: underline;
}

.cabecalho-imagem{
    width: 800px;
    border: 3px gold;
    border-radius: 10px;
}

.caixa{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: lightgreen;
    color: brown;
}

#caixa-boreal{
    width: 100px;
    margin: 200px 400px;
    border: 5px;
    border-color: aqua;
    border-style: double;
}